// 정의한 스타일은 figma에서 확인하실 수 있습니다.
// https://www.figma.com/file/kjQt73lTcFIVs9IgYk5UzY/Result-page?node-id=202%3A44


// 글로벌 스타일을 root에 미리 정의
// 컬러, 폰트사이즈, 폰트 두께
// 브라우저 가로(여기서는 반응형이 아니므로 미디어쿼리는 생략)
// 반응형 UI가 아닌 임시 UI 이므로 width 를 고정시켰습니다.
:root {
  --width-layout-web: 1200px;

  --color-logo-1: #25938B;
  --color-logo-2: #16274D;
  
  --color-layout-background-1: #FFFFFF;
  --color-layout-background-2: #F8F8F8;
  
  --color-font-1: #FFFFFF;
  --color-font-2: #7D7D7D;
  --color-font-3: #333333;
  --color-font-4: #000000;
  --color-font-5: #25938B;
  
  --color-icon-1: #DDDDDD;
  --color-icon-2: #C4C4C4;
  --color-icon-3: #7D7D7D;
  
  --color-table-border-1: #EFEFEF;
  --color-table-border-2: #D6D6D6;
  
  --color-table-background-1: #FFFFFF;
  --color-table-background-2: #FCFCFC;
  --color-table-background-3: #F1F1F1;
  --color-table-background-4: #16274D;
  --color-table-background-5: #E6E6E6;
  
  --color-botton-1: #16274D;

  --font-size-30: 30px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;

  --font-weight-regular: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

// 브라우저 전체에 배경 컬러 적용
body {
  background: var(--color-layout-background-2);
}

// reset css을 적용하여 브라우저의 기본 스타일을 초기화
html, body {
  padding: 0; margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}
// 브라우저 스크롤 컬러 연하게 수정
*::-webkit-scrollbar {height: 5px; width: 9px;}
*::-webkit-scrollbar-track {background-color: transparent;}
*::-webkit-scrollbar-thumb {border-radius: 3px; background-color: var(--color-icon-1);}
*::-webkit-scrollbar-button {width: 0; height: 0;}
* {word-break: break-word;}
*, *::after, *::before {box-sizing: border-box;}
ul, li {list-style: none;}
ul, p, h1, h2, h3, h4 {padding: 0; margin: 0;}
a { color: inherit; text-decoration: none;}
div {scroll-behavior: smooth;}
button {border: none; background: none; cursor: pointer; padding: 0; margin: 0; }
input {border: none;}