@import 'var';

.container {
  // 컴포넌트들 위치 지정
  @include center;
  flex-direction: column;
  justify-content: center;

  // 브라우저 전체에 적용될 배경 컬러
  background: var(--color-layout-background-2);

  // Project Name에 적용될 스타일
  h1 {
    width: var(--width-layout-web);
    color: var(--color-font-5);
    font-size: var(--font-size-30);
    margin: 28px 0;
  }

  // result와 select를 가로로 정렬하기 위한 section 스타일 지정
  .resultarea {
    width: var(--width-layout-web);
    display: flex;
    justify-content: space-between;
  }
}

